.ace-monokai
    &.ace_editor
        font-size: 22px
        font-family: "Fira Code"
    
        background: #322C35
        color: #fff

    .ace_gutter
        background: #2b262d
        color: #6e636d

    .ace_print-margin
        width: 1px
        background: #555651

        background-color: #272822
        color: #F8F8F2

    .ace_cursor
        color: #F8F8F0

    &.ace_multiselect
        .ace_selection.ace_start
            box-shadow: 0 0 3px 0px #272822

    .ace_marker-layer
        .ace_selection
            background: #3f3a42
        
        .ace_step
            background: rgb(102, 82, 0)

        .ace_bracket
            margin: -1px 0 0 -1px
            border: 1px solid #49483E

        .ace_active-line
            background: #29242b

        .ace_selected-word
            border: 1px solid #49483E

    .ace_gutter-active-line
        background-color: #1e1d1f

    .ace_invisible
        color: #52524d
        
    .ace_indent-guide
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ0FD0ZXBzd/wPAAjVAoxeSgNeAAAAAElFTkSuQmCC") right repeat-y

    .ace_fold
        background-color: #A6E22E
        border-color: #F8F8F2
    
    ////////////
    // Tokens //
    ////////////

    .ace_operator
        color: #d2476c
    
    .ace_constant,    
    .ace_function
        color: #e6955a

    .ace_number
        color: #e8d3d3

    .ace_variable
        color: #9789cc
        
    .ace_bracket
        color: #fff

    .ace_comment
        color: #6e6373
        
    .ace_exponent
        display: inline-block
        transform: translateY(-22%)

        font-size: smaller
        color: #b2abcc
