body
    background: #322c35
    margin: 0

.awl
    position: relative
    width: 500px
    height: 200px
    
    width: 100vw
    height: 100vh

.ace
    position: relative
    left: 0
    top: 0
    width: 100%
    height: 100%